<ul class="nav">
    <li>
        <a ui-sref="app.server">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-stats icon text-success"></i>
            <span class="font-bold">Cache管理</span>
        </a>
        <ul class="nav dk">
            <li ng-repeat="list in serverList">
                <a ng-click="thisItem(list)">
                    <span>{{list.server_name}}</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a ui-sref="app.search">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-stats icon text-success"></i>
            <span class="font-bold">Search管理</span>
        </a>
        <ul class="nav dk">
            <li ng-repeat="list in searchList">
                <a ng-click="stateItem(list)">
                    <span>{{list.name}}</span>
                </a>
            </li>

        </ul>
    </li>
</ul>