<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="solrQAController as vm">
    <div class="lter wrapper-s b-b b-r clearfix">
        <div class="pull-left m-t-sm m-b-sm">
            <span class="padder font-bold">{{name}}</span>
        </div>
        <div class="pull-left m-t-sm m-b-sm">
            <span class="padder b-l b-l-2x b-l-info"></span>

            <div ng-click="back();" style="display: inline-block;cursor: pointer" title="返回">
                <i class="icon-action-undo"></i>
            </div>
        </div>
    </div>
    <div style="width: 1200px">
        <table class="table table-bordered table-condensed table-striped" style="margin: 20px 100px">
            <thead class="bg-light">
            <tr>
                <th class="col-sm-2">Index</th>
                <th class="col-sm-2">清空API</th>
                <th class="col-sm-2">重建API</th>
                <th class="col-sm-2">更新API</th>
                <th class="col-sm-2">删除API</th>
                <th class="col-sm-2">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="info" ng-repeat="list in solrList">
                <td class="col-sm-2"><a ng-click="toDocument(list)">{{list.name}}</a></td>
                <td class="col-sm-2">
                    <span popover="{{list.clear_api}}"
                          popover-placement="bottom"
                          data-dd-collapse-text="25"
                          popover-trigger="mouseenter">
                        {{list.clear_api}}
                                    </span>
                </td>
                <td class="col-sm-2">
                     <span popover="{{list.rebuild_api}}"
                           popover-placement="bottom"
                           data-dd-collapse-text="25"
                           popover-trigger="mouseenter">
                        {{list.rebuild_api}}
                                    </span>
                </td>
                <td class="col-sm-2">
                     <span popover="{{list.update_api}}"
                           popover-placement="bottom"
                           data-dd-collapse-text="25"
                           popover-trigger="mouseenter">
                        {{list.update_api}}
                                    </span>
                </td>
                <td class="col-sm-2">
                     <span popover="{{list.delete_api}}"
                           popover-placement="bottom"
                           data-dd-collapse-text="25"
                           popover-trigger="mouseenter">
                        {{list.delete_api}}
                                    </span>
                </td>
                <td class="col-sm-2">
                    <a class="text-decorline m-r" style="color: #7266ba"
                       data-toggle="modal"
                       data-target="#editModal"
                       ng-click="showItem(list)">编辑</a>
                    <a class="text-decorline m-r" style="color: #7266ba"
                       data-toggle="modal"
                       data-target="#clearModal"
                       ng-click="showItem(list)">清空</a>
                    <a class="text-decorline m-r" style="color: #7266ba"
                       data-toggle="modal"
                       data-target="#rebuildModal"
                       ng-click="showItem(list)">重建</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">编辑</h5>
                </div>
                <form class="form-validation" name="item">
                    <div class="modal-body clearfix">
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">index:</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control"
                                       ng-model="item.name"
                                       ng-maxlength="100"
                                       required>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">清空API:</label>

                            <div class="col-sm-7">
                                <textarea name="" cols="30" rows="5" class="form-control" ng-model="item.clear_api">
                                </textarea>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">重建API:</label>

                            <div class="col-sm-7">
                                <textarea name="" cols="30" rows="5"  class="form-control" ng-model="item.rebuild_api">
                                </textarea>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">更新API:</label>

                            <div class="col-sm-7">
                                <textarea name="" cols="30" rows="5"  class="form-control" ng-model="item.update_api">
                                </textarea>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">删除API:</label>

                            <div class="col-sm-7">
                                <textarea name="" cols="30" rows="5"  class="form-control" ng-model="item.delete_api">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-disabled="item.$invalid"
                                data-dismiss="modal" ng-click="editSolr(item)">
                            确 定
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取 消
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="clearModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">清空</h5>
                </div>
                <div class="modal-body clearfix">
                    <div class="col-lg-1">
                        <span class="text-2x fa fa-question-circle text-warning-dker"></span>
                    </div>
                    <div class="col-lg-11">
                        <p class="font-bold">确定清空core：{{item.name}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="clear(item)">确 定
                    </button>
                    <button class="btn btn-default" data-dismiss="modal">取 消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rebuildModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">重建</h5>
                </div>
                <div class="modal-body clearfix">
                    <div class="col-lg-1">
                        <span class="text-2x fa fa-question-circle text-warning-dker"></span>
                    </div>
                    <div class="col-lg-11">
                        <p class="font-bold">确定重建core：{{item.name}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal" ng-click="rebuild(item)">确 定
                    </button>
                    <button class="btn btn-default" data-dismiss="modal">取 消</button>
                </div>
            </div>
        </div>
    </div>
</div>